<head>
</head>
<body>
    <header>
        <div>
            <h1 class = "centro">@ViewBag.Pais.nombre</h1>
        </div>
    </header>
    <img src="/img/@ViewBag.Pais.imgBandera" alt="bandera">
    <h3>Poblacion: @ViewBag.Pais.poblacion</h3>
    <h3>Fecha independencia: @ViewBag.Pais.fechaIndependencia</h3>
    <h3>Atraccion turistica: @ViewBag.Pais.atractivosTuristicos</h3>
    <footer>
        <p>Made by Ivo y Chinocapo</p>
    </footer>
</body>