<head>
</head>
<body>
    <header>
        <div>
            <h1 class = "centro">@ViewBag.Pais.nombre</h1>
        </div>
    </header>
    
    <footer>
        <p>Made by Ivo y Chinocapo</p>
    </footer>
</body>